<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-group col-8 offset-2 mt-5">
  <textarea formControlName="text" class="form-control"></textarea>
  <input type="file"
         class="form-control-file mt-4"
         (change)="onFileChange($event)"
         formControlName="filePath"
         accept="application/json">
  <div class="btn-group col-4 offset-4 mt-5">
    <button class="btn btn-primary"
            [disabled]="formGroup.invalid"
            type="submit">Продолжить
    </button>
  </div>
</form>
