<table class="table table-striped">
  <thead>
  <tr>
    <th *ngFor="let label of labels" scope="col">{{label}}</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data; let i= index">
    <td *ngFor="let label of labels">
      <ng-container *ngIf="currentEditableElement!=item">{{item[label]}}</ng-container>
      <ng-container *ngIf="currentEditableElement===item"><input class="" [(ngModel)]="item[label]" type="text"/>
      </ng-container>
    </td>
    <td>
      <div class="btn-group">
        <button *ngIf="currentEditableElement===item" (click)="currentEditableElement=null" type="button"
                class="btn btn-success">Confirm
        </button>
        <button *ngIf="currentEditableElement!==item" class="btn btn-primary" (click)="onClickEdit(item)">edit</button>
        <button class="btn btn-danger" (click)="onClickDelete(i)">del</button>
      </div>
    </td>

  </tr>

  </tbody>
</table>
<button class="btn btn-primary col-2 offset-5" [routerLink]="'/upload'">Загрузить</button>

